
# Except this file


!.gitignore
#.gitignore
#.git/info/exclude
node_modules
vendor
!bootstrap
# why /bootstrap isn't gitignored explained down there 

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode



####added on 12-4-2022  from a ggogle search####

#cache contains already compiled views but seemingly its not present in laravel 8 
/bootstrap/compiled.php

/build/logs
/build/coverage

npm-debug.log
yarn-error.log

/app/tests/_log

# There is a .gitignore placed in bootstrap/cache that already ignores the cache so no need to gitignore the /bootstrap
