
# Except this file


!.gitignore
#.gitignore
#.git/info/exclude
node_modules
vendor


#####   files for laravel-backup
!resources/lang/vendor/backup
!resources/lang/vendor
!resources/lang
!resources

## they were copied as following:
#                                   Copied File [\vendor\spatie\laravel-backup\config\backup.php] To [\config\backup.php]
#                                   Copied Directory [\vendor\spatie\laravel-backup\resources\lang] To [\resources\lang\vendor\backup]
#
#   by this command:: php artisan vendor:publish --provider="Spatie\Backup\BackupServiceProvider"

#   After installing the laravel-backup package with    composer require "spatie/laravel-backup:^7.0.0"




!bootstrap
# why /bootstrap isn't gitignored explained down there 

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode



####added on 12-4-2022  from a ggogle search####

#cache contains already compiled views but seemingly its not present in laravel 8 
/bootstrap/compiled.php

/build/logs
/build/coverage

npm-debug.log
yarn-error.log

/app/tests/_log

# There is a .gitignore placed in bootstrap/cache that already ignores the cache so no need to gitignore the /bootstrap
