.even{
    background-color: white !important;
   

}


.odd{
    background-color: whitesmoke !important;
   

}

.odd , .even{
    cursor: pointer;
    
    &:hover{
        background-color: #ddd !important ;
    }
}